#clockcontainer{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;

}

#hour, #minute, #second{
      position: absolute;
      background: black;
      border-radius: 10px;
      transform-origin: bottom;

}

#hour {    
    width: 1.5%;
    height: 22%;
    top: 27.5%;
    left: 49%;
    opacity: 0.85;
    
    
     
}

#minute{
    width: 1.25%;
    height: 27%;
    top: 23%;
    left: 49%;
    opacity: 0.85;

    
}

#second{
    width: 1%;
    height: 30%;
    top: 21%;
    left: 49%;
    opacity: 0.85;
    
    
}
